<div class="body">

  <div class="forgot-password-container">
    <h2 class="form-title">Reset Password</h2>
    <form class="form-content">
  
      <div class="form-field">
        <label for="username">Username</label>
        <input 
            pInputText 
            id="username" 
            [(ngModel)]="username" 
            name="username"
            required 
            class="p-inputtext" />
      </div>
      
      <div class="form-field">
        <label for="password">Old Password</label>
        <input 
            pInputText 
            id="password" 
            [(ngModel)]="password" 
            name="password"
            type="password"
            required 
            class="p-inputtext" />
      </div>
  
      <div class="form-field">
        <label for="newPassword">New Password</label>
        <input 
            pInputText 
            id="newPassword" 
            [(ngModel)]="newPassword" 
            name="newPassword"
            type="password"
            required 
            class="p-inputtext" />
      </div>
  
      <div class="form-actions">
        <p-button label="Submit" icon="pi pi-check" iconPos="right" class="p-button-lg" (click)="resetPassword()"></p-button>
      </div>
  
    </form>
  </div>
  
</div>
