
<div class="login-page p-grid">
  <div class="login-content p-col">
    <div class="login-header p-d-flex p-flex-column p-ai-center p-mb-4">
      
      <h1>FACEBOOK</h1>
  
    </div>

    <div class="form-container p-mt-2">
      <div class="card p-mb-4 p-shadow-4">
        <div class="p-fluid">
          <div class="p-field p-mb-4 w-full">
            <input type="text" id="username" pInputText [(ngModel)]="username" placeholder="Enter your username" class="p-input-lg p-border-rounded bosluk">
          </div>
        </div>
      </div>

      <div class="card p-mb-4 p-shadow-4">
        <div class="p-fluid">
          <div class="p-field p-mb-4">
         
            <input type="password" id="password" pInputText [(ngModel)]="password" placeholder="Enter your password" class="p-input-lg p-border-rounded bosluk">
          </div>
          <div *ngIf="errorMessage" style="color: red;" class=" error-message p-mb-4 ">
            {{ errorMessage }}
          </div>
          <div class="p-d-flex p-jc-between p-ai-center p-mb-4">
            <div class="p-d-flex p-ai-center">
              <input type="checkbox" id="remember-me" class="p-mr-2">
              <label for="remember-me" class="p-mb-0">Remember me</label>
            </div>
            <p class="forgot-password p-mb-0">
              <a href="#">Forgot your password?</a>
            </p>
          </div>

          <div class="p-d-flex p-jc-center">
            <p-button label="Login" class="p-button-lg p-button-rounded" (click)="onSubmit()"></p-button>
          </div>

          <div class="p-d-flex p-jc-center p-mt-4">
            <div class="divider-container p-d-flex p-ai-center">
              <hr class="divider-line p-mx-2">
              <span class="divider-text">Or,Register</span>
              <hr class="divider-line p-mx-2">
            </div>
          </div>

          <div class="p-d-flex p-jc-center">
            <p-button label="Register" icon="" class="p-button-rounded p-button-lg p-mt-4" (click)="register()"></p-button>
          </div>

        
        </div>
      </div>
    </div>
  </div>

  <div class="decorative-panel p-hidden p-lg-block"></div>
</div>
