h1{

  font-size: 30px;
  color:#007bff;

}
.login-page {
  display:grid;
  grid-template-columns: 1fr 1.5fr;
  min-height: 725px;
  min-width: 100%;
  border: 100px ,solid,#ffffff;

}

.login-content {
  padding-left: 70px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forgot-password {
  margin-top: 23px;  
  margin-left: 20px; 
}

.p-d-flex.p-jc-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.p-field.p-mb-4 {
  margin-bottom: 1.5rem; 
}

.p-input-lg {
  font-size: 1rem;
  padding: 1rem; 
  width: 400px;
}

.p-border-rounded {
  border-radius: 0.5rem; 
}

.p-mb-2 {
  margin-bottom: 0.5rem; 
}

.p-button-lg {
  width: 100%;
  font-size: 1rem; 
}

.p-button-rounded {
  border-radius: 0.5rem;
}

.decorative-panel {
  background: url('../../assets/facebook-back.png') no-repeat center center;
  background-size:contain;
  display:inline-block;
  margin-right: 20px;

}


@media (max-width: 900px) {
  .login-page {
    grid-template-columns: 1fr;
  }
  .decorative-panel {
    display: none;
  }
}


.divider-container {
  display: flex;
  align-items: center;
}

.divider-line {
  flex: 1;
  border: 0;
  border-top: 1px solid #000000;
  margin: 0 1rem; 
}

.divider-text {
  font-size: 1rem;
  color: #000000;
  margin-top: 15px;
  margin-bottom: 15px;
  white-space: nowrap;
}


.register-link a {
  color: #007bff; 
  text-decoration: none; 
  font-size: 0.875rem; 
}

.register-link a:hover {
  text-decoration: underline; 
}

.bosluk{
  margin-top: 15px;
}